#menu{
  width: 60%; 
  height: 3em; 
  margin: auto;
  z-index: 99;
  position: relative; 
  background-color: #605755;
  border-style: solid;
  border-radius: 30px;
}

ul {
  height: auto;
  width:auto;
  margin:0;
  position: relative; 
 }

ul li {
  height: 2em;
  width: 15.5%; 
  padding-top:1em;
  margin: auto;
  float: left;  
  text-align: center; 
  list-style: none;  
  /*font: normal bold 16px/1em Arial, Verdana,Helvetica;*/
  font-style: normal;
  font-weight: bold;
  font-family: Arial,Verdana,Helvetica;
  font-size: 16px;
 }

#Discord{
  width:3%;
  margin-left:2%;
  position:relative;
}

ul li a {
  padding:0;
  text-decoration: none; 
  color: black; 
  display: block;  
  border-radius:1px;
 }

ul li:hover {
  background-color:#6A6361;
  border-color:#000000 #000000 #000000 #000000;
} 

ul li ul{
  display: none;
  height: auto;									
  margin-top: 15px; 
  padding: 0; 
}

li:hover ul{
  display: block;
}

li ul li{
  background-color: #444444;
  width:100%;
  position:relative;
  border-left: 1px solid #444444; 
  border-right: 1px solid #444444; 
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #444444; 
}

li ul li a{
  padding:0;
  text-decoration: none; 
  color: black; 
  display: block;  
}