html{
	opacity:100%;
}
body{
	background-image:url("bg2.png");
	background-size: cover;
	margin:0px;
}

/*  Partie du haut (Menu, logos, dessins)                                     */

#HG{
	position:fixed;
	width:10%;
	left:0px;
	top:0px;
	opacity:60%;
}

#HD{
	position:fixed;
	width:9%;
	right:0px;
	top:0px;
	opacity:60%;
}

#hautPage{
	height:40%;
	width:100%;
}

#login{
	width:3%;
	position:absolute;
	margin-left:20%;
}
#insta{
	width:3%;
	position:relative;
	margin-left:66%;
}

#fb{
	width:3%;

	position:relative;
	margin-left:2%;
}

#Logo{
	width:11%;
	position:absolute;
	left:44%;
	top:0.2%;
	z-index:999;
}


#Presentation{
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}

#Presentation p{
    width:auto;
    text-align:left;
    font: normal bold 1.5em Viking-Normal, Verdana, Helvetica; 
}

#menu{
  width: 60%; 
  margin:auto;
  height: 0.1px; 
  z-index: 99;
  position: relative; 
  background-color: #C3C3C3;
  border-style: solid;
  border-radius: 20px;
}

#menu ul {
  height: auto;
  width:auto;
  margin:0;
  margin-top:3px;
  position: relative; 
  padding-left:1.5%;
 }

#menu ul li  {
  height: 2em;
  width: 12.9%; 
  padding-top:0.9em;
  margin: auto;
  float: left;  
  text-align: center; 
  list-style: none;  
  /*font: normal bold 16px/1em Arial, Verdana,Helvetica;*/
  font-style: normal;
  font-weight: bold;
  font-family: Arial,Verdana,Helvetica;
  font-size: 16px;  
 }

#menu .saut{
	margin-left:20%;
}

#menu ul li a {
  padding:0;
  text-decoration: none; 
  color: black; 
  display: block;  
  border-radius:1px;
 }

#menu ul li:hover {
  background-color:#896B37;
  border-style: solid;
  border-width: 0.1px;
  border-color:#000000 #000000 #000000 #000000;
} 

#menu ul li ul{
  display: none;
  height: auto;									
  margin-top: 15px; 
  padding: 0; 
}

#menu li:hover ul{
  display: block;
}

#menu li ul li{
  background-color: #896B37;
  width:100%;
  position:relative;
  border-left: 1px solid #444444; 
  border-right: 1px solid #444444; 
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #444444; 
}

#menu li ul li a{
  padding:0;
  text-decoration: none; 
  color: black; 
  display: block;  
}


#corps{
	height:200%;
	width:60%;
	margin:auto;
	position:relative;
	margin-left:20%;
	margin-right:20%;
    margin-top:10%;
    margin-bottom:0%;
}

h2{
	text-align: center;
	font-size: 2em;
}

#img{
	width:80%;
	margin-left:10%;
	border-radius:50px;
}

h1{
	text-align: center;
}


h1{
	text-align:center;
	font: normal bold 30px/1em Viking-Normal,Arial, Verdana, Helvetica;  
}

.trait{
	background-color: #000;
	height:2px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}
.trait2{
	background-color: #000;
	height:4px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}

.trait3{
	background-color: #000;
	height:50%;
	width:4px;
	position:absolute;
	margin-left:50%;
	margin-right:50%;
	margin-bottom:5px;
}


#photosclan{
	height:900px;
	padding-top:25px;
	position:relative;

}

span{
	position:absolute;
	left:0%;
	opacity:0;
}
ul{
	list-style: none;
	margin-top:20px;
	padding:0px;
}

#Discord{
	width:3%;
	margin-left:2%;
	position:relative;
}

.imgP{
	width:80%;
	margin-left:10%;
	margin-top:20px;
	margin-bottom:100px;
}

#BasDePage{
	position:relative;
	width:100%;

}
